/* You can add global styles to this file, and also import other style files */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    // margin-bottom: 10%;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    margin-top: 5%;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }